openapi: 3.0.3
info:
  title: Módulo 3 - Dados Públicos de TI
  version: 1.0.0
  description: Microsserviço isolado para consultas públicas de licitações, perfis e equipamentos.
servers:
  - url: https://api.exemplo.com
paths:
  /healthz:
    get:
      responses:
        '200': { description: Serviço disponível }
  /v1/mod3/public-tenders:
    get:
      parameters:
        - { name: term, in: query, required: true, schema: { type: string, minLength: 2, maxLength: 160 } }
        - { name: x-api-key, in: header, required: false, schema: { type: string } }
      responses:
        '200': { description: Resultados normalizados do PNCP }
        '400': { description: Termo inválido }
        '502': { description: Fonte pública indisponível }
  /v1/mod3/profiles:
    get:
      responses:
        '200': { description: Perfis IT Talents persistidos }
  /v1/mod3/equipment:
    get:
      responses:
        '200': { description: Equipamentos e insumos persistidos }
  /v1/mod3/service-price-categories:
    get:
      responses:
        '200': { description: Categorias do catálogo fixo de códigos CATSER (chave + rótulo) }
  /v1/mod3/service-prices:
    get:
      parameters:
        - { name: categoria, in: query, required: true, schema: { type: string }, description: Chave do catálogo (ver /v1/mod3/service-price-categories) }
      responses:
        '200': { description: Mediana e últimos preços praticados persistidos (Compras.gov.br, Pesquisa de Preço) }
        '400': { description: Categoria desconhecida }